body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    position: relative; 
}

body * {
    box-sizing: border-box;
}

.header {
    background-color: #131313;
    position: sticky;
    top: 0;
    z-index: 5;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    font-size: 11px;
    line-height: 15px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

.logo {
    color: #E3B873;
    text-transform: uppercase;
}

.phone-num a {
    color: #E3B873;
}

.highlight {
    color: #E3B873;
}

.header-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.header-nav__item {
    margin-right: 47px;
}

.header-nav__item a {
    text-decoration: none;
    color: #FFF;
}

.header-nav__item a:hover {
    color: #E3B873;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: none;
    padding: 13px 33px;
    color: #FFF;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.button:focus,
.button:active {
    outline: none;
}

.home {
    background-image: url(../images/home.jpg);
    background-size: cover;
    height: 707px;
    position: relative;
    align-items: center;
}

.title {
    margin: 0;
    font-family: 'Yeseva One', sans;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
}

.home-container {
    position: relative;
    z-index: 1;
    max-width: 676px;
    padding-top: 194px;
    padding-left: 42px;
}

.home-overlay {
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
}

.title--1 {
    font-size: 40px;
    line-height: 53px;
    color: #FFF;
}

.text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
}

.home__text {
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}

.home__button {
    height: 51px;
    width: 207px;
    padding: 0 0;
}

.home__button--submit {
    border: 1px solid #FFFFFF;
    background: none;
    box-shadow: none;
}

.projects {
    background-color: #131313;
    max-height: 1074px; 
}

.title--2 {
    font-size: 27px;
    line-height: 37px;
    color: #E3B873;
}

.projects__text {
    font-size: 14px;
    line-height: 27px;
    color: #FFF;
}

.subtitle {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
}

.projects__subtitle {
    font-size: 18px;
    line-height: 25px;
    color: #E3B873;
}

.projects-container {
    padding-top: 176px;
    padding-left: 42px;
    height: 1074px;
}

.projects-descr {
    max-width: 442px;
}

.projects-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projects-info {
    max-width: 442px;
    margin-top: 42px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
    grid-template-rows: auto;
}

.projects__image {
    max-width: 679px;
}

.projects__arrow--mobile {
    display: none;
}

.projects-examples {
    margin-right: 42px;
    margin-top: -280px;
}

.projects-examples-nav {
    padding-left: 0;
    padding-bottom: 50px;
    max-width: 623px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projects-examples-nav__item {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}

.projects-examples-nav__item--chosen {
    color: #E3B873;
    position: relative;
    display: inline-block;
}

.projects-examples-nav__item--chosen::after {
    content: '';
    position: absolute;
    background-color: #E3B873;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
}

.projects__arrow--back {
    transform: rotate(180deg);
}

.button--image {
    background: none;
    border: none;
    cursor: pointer;
}

.button--image:active,
.button--image:focus {
    outline: none;
}

.projects-nav {
    margin-top: 80px;
    max-width: 206px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

.projects-nav-circles {
    margin-top: 3px;
    width: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projects-nav-circles__item {
    width: 9.57px;
    height: 9.57px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
}

.projects-nav-circles__item--chosen {
    background: #FFF;
}

.control-container {
    margin-top: -325px;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title--3 {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.icon {
    margin-top: 12px;
    display: flex;
    justify-content: center;
}

.icon__image {
    position: relative;
}

.icon__image::before {
    content: '';
    position: absolute;
    top: 15px;
    left: -40px;
    width: 32px;
    height: 1.5px;
    background-color: #E3B873;
    border-radius: 30px;
}

.icon__image::after {
    content: '';
    position: absolute;
    top: 15px;
    right: -40px;
    width: 32px;
    height: 1.5px;
    background-color: #E3B873;
    border-radius: 30px;
}

.control-video {
    margin-top: 31px;
    max-width: 817px;
    position: relative;
    justify-content: center;
}

.control-video::after {
    content: '';
    position: absolute;
    bottom: 18px;
    left: 46%;
    text-align: center;
    width: 55px;
    height: 1.5px;
    background-color: #E3B873;
    border-radius: 30px;
}

.control-video-bg {
    position: relative;
    display: inline-block;
    filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.15));
}

.control-video-bg::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0, 0, 0, 0.8);
}

.control-video-bg__image {
    max-width: 817px;
}

.control-video-play {
    position: relative;
    text-align: center;
    margin-top: -280px;
    padding-bottom: 210px;
    z-index: 1;
}

.control-descr {
    max-width: 681px;
    margin: 0 auto;
}

.control__text {
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
}

.control-form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 770px;
}

.label {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.input {
    margin: 0;
    padding-top: 6px;
    padding-bottom: 8px;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
    outline: none;
}

.input::placeholder {
    color: #363636;
}

.control__input {
    margin-right: 50px;
    width: 231px;
}

.control__button {
    font-style: normal;
    width: 200px;
    height: 51px;
    font-size: 13px;
    line-height: 27px;
}

.control__button--mobile {
    display: none;
}

.control-checkbox {
    margin: 39px auto 0 auto;
    max-width: 286px;
}

.checkbox {
    display: none;
}

.fake {
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}

.fake::before {
    content: "\2714";
    opacity: 0;
    transition: .2s;
}

.checkbox:checked+.fake::before {
    opacity: 1;
}

.label--checkbox {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 163.68%;
    color: #181818;
    cursor: pointer;
}

.title--4 {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

.types-container {
    margin-top: 180px;
    max-width: 1440px;
}

.types-examples {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around; 
}
.types-examples-NEW {
    display: flex;
    justify-content: space-around;
}

.types__subtitle {
    text-transform: none;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    margin: 0;
}

.types-examples-block {
    max-width: 392px;
    display: flex;
    justify-content: center;
}

.types-examples-block-descr {
    position: absolute;
    width: 330px;
    max-height: 286px;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    margin: 294px auto auto auto;
    padding-top: 25px;
    padding-left: 34px;
    z-index: 1;
}

.types-examples-block-descr-list {
    padding-left: 16px;
    margin-top: 5px;
}

.types-examples-block-descr-list__item {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

.types-examples-block-descr-cost {
    position: absolute; 
    margin-top: -10px;
    margin-left: -35px;
    text-align: left;
    width: 228px;
    height: 54px;
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.types-examples-block-descr-cost__value {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.request {
    background-image: url(../images/request_bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 645px; 
}

.request-container {
    margin-top: 120px; 
    max-width: 1440;
    padding-top: 117px;
    height: 645px;
}

.request-stages {
    margin-left: 115px;
    height: 474px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.request-stages-stage {
    max-width: 430px;
    display: flex;
    align-items: center;
}

.request__text {
    line-height: 19px;
    color: #363636;
}

.request-stages-stage-circle {
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 30px;
    width: 50px;
    height: 50px;
    padding: 5px 7px;
    margin-right: 15px;
}

.request-stages-stage-circle__num {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    margin: auto auto; 
}

.request-form-container {
    margin-left: 730px;
    margin-top: -470px;
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    max-width: 506px;
    max-height: 509px;
    padding: 28px 49px 28px 41px;
}

.request__text--legend {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    max-width: 270px;
    margin-left: 75px;
}

.request-form-container-inputs {
    height: 244px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 39px;
    margin-bottom: 17px;
}

.request__label {
    color: rgba(255, 255, 255, 0.5);
}

.request__input {
    color: #FFFFFF;
    background: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    width: 408px;
}

.request__input::placeholder {
    color: #FFFFFF;
}

.request__text--checkbox {
    color: #FFFFFF;
}

.request__button {
    font-style: normal;
    width: 213px;
    height: 51px;
    font-size: 13px;
    line-height: 27px;
    margin-top: 39px;
    margin-left: 195px;
}

.request-discount {
    margin-left: 745px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}

.request-discount__text {
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

.fantasies {
    background-image: url(../images/fantasies_bg.jpg);
    background-size: cover;
    height: 864px;
    position: relative;
    margin-top: 255px;
}

.fantasies-container {
    position: relative;
    z-index: 1;
    margin-top: 329px;
    padding-top: 137px;
    display: flex;
    justify-content: space-between;
}

.fantasies-overlay {
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
}

.fantasies-left-list {
    list-style: none;
    margin-top: 47px;
    padding: 0;
}

.fantasies-left-list__item {
    margin-bottom: 13px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
    cursor: pointer;
}

.fantasies-left-list__item--chosen {
    color: #E3B873;
    position: relative;
    display: inline-block;
    border-bottom: 1px #E3B873 solid;
}

.fantasies-photos {
    width: 751px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fantasies-photos-left {
    margin-top: -177px;
    display: flex;
    flex-direction: column;
}

.fantasies-photos-right {
    margin-top: -245px;
    display: flex;
    flex-direction: column;
}

.fantasies-photo-left__item--down {
    margin-top: 39px;
}

.fantasies-photos--mobile {
    display: none;
}

.clients-container {
    margin-top: 110px;
}

.clients__text {
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
}

.clients-reviews {
    margin-top: 39px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.clients-reviews-block {
    width: 376px;
    height: 428px;
    justify-content: center;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    background: #FFFFFF;
}

.clients-reviews-block-content {
    width: 325px;
    padding-top: 24px;
    padding-left: 20px;
    z-index: 1;
}

.clients-reviews-block-content-name {
    display: flex;
}

.clients__img {
    border-radius: 50%;
}

.clients__subtitle {
    margin-left: 23px;
    text-transform: none;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
}

.clients-reviews-block-content__text {
    margin-top: 11px;
    font-size: 13px;
    line-height: 23px;
    color: #959595;
    text-align: left;
}

.clients-reviews-block-content-card {
    margin-top: 60px;
    margin-left: -20px;
    text-align: left;
    width: 293px;
    height: 54px;
    background: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 15px;
    padding-right: 17px;
}

.clients-reviews-block-content-card__value {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.clients-reviews-block-content-card__border {
    border: 0.75px solid #FFFFFF;
    height: 54.03px;
    width: 0;
}

.clients-bottom {
    background-image: url(../images/clients_bottom-bg.png);
    height: 505px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    position: relative;
    z-index: -1;
}

.clients-overlay {
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(256, 256, 256, 0.9);
    position: absolute;
}

.questions {
    background-image: url(../images/questions_bg.jpg);
    background-size: cover;
    height: 954px;
    position: relative;
    margin-top: -57px;
}

.questions-container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions-overlay {
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .87);
    position: absolute;
}

.questions-form-container {
    margin-top: -222px;
    background: #181818;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    max-width: 883px;
    max-height: 445px;
    padding: 34px 181px 34px 181px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions-form-container-inputs {
    height: 145px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 46px;
    margin-bottom: 48px;
}

.questions-form-container-inputs-uprow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.questions__label {
    color: rgba(255, 255, 255, 0.5);
}

.questions-uprow__input {
    color: #FFFFFF;
    background: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    width: 231px;
}

.questions__input {
    color: #FFFFFF;
    background: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    width: 517px;
}

.questions__input::placeholder,
.questions-uprow__input::placeholder {
    color: #FFFFFF;
}

.questions__input--mobile {
    display: none;
}

.questions__text--checkbox {
    color: #FFFFFF;
}

.questions__button {
    font-style: normal;
    width: 200px;
    height: 51px;
    font-size: 13px;
    line-height: 27px;
    margin-top: 50px;
}

.questions__contacts {
    margin: 52px 0 0 0;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
}

.questions-icons {
    margin-top: 26px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 71px;
}

.questions__map {
    margin-top: 45px;
}

.questions__map--mobile {
    display: none;
}

.footer {
    background-color: #181818;
    height: 133px;
    padding-top: 25px;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    font-size: 11px;
    line-height: 15px;
}

.header-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.header-nav__item {
    margin-right: 47px;
}

.header-nav__item a {
    text-decoration: none;
    color: #FFF;
}

.header-nav__item a:hover {
    color: #E3B873;
}

@media screen and (max-width: 1300px) {
    .container {
        padding-left: 18px;
        padding-right: 18px;
    }
    .header-nav {
        display: none;
    }
    .header button {
        display: none;
    }
    .home-container {
        max-width: 340px;
        padding-left: 0;
    }
    .title--1 {
        font-size: 23px;
        line-height: 31px;
    }
    .home__text {
        font-size: 14px;
        line-height: 19px;
    }
    .home__button {
        margin-top: 26px;
        width: 100%;
    }
    .projects-container {
        margin-top: 0px;
        padding-top: 36px;
        height: 100%;
    }
    .title--2 {
        font-size: 22px;
        line-height: 30px;
        text-align: center;
    }
    .projects-descr {
        max-width: 90vw;
        margin-top: 22px;
        align-items: center;
    }
    .projects__text {
        font-size: 11px;
        line-height: 17px;
        text-align: center;
    }
    .projects__subtitle {
        font-size: 14px;
        line-height: 19px;
    }
    .projects-nav {
        display: none;
    }
    .projects-examples-nav {
        display: none;
    }
    .projects-main {
        flex-direction: column;
    }
    .projects-examples {
        margin-top: 60px;
        margin-right: 0;
        display: flex;
        justify-content: center;
    }
    .projects-examples-img {
        position: relative;
    }
    .projects__arrow--mobile {
        display: inline-block;
        position: absolute;
        margin-top: 30%;
        margin-left: -50px;
        cursor: pointer;
    }
    .projects__arrow-to--mobile {
        transform: scale(-1, 1);
        margin-left: 14px;
    }
    .projects__image {
        max-width: 500px;
        width: 90vw;
    }
    .projects-info {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .projects-left {
        order: 1;
        margin-top: 36px;
    }
    .control {
        background-color: #131313;
        padding-top: 65px;
        margin-top: -2px;
    }
    .control-container {
        margin-top: 0px;
        height: 100%;
        padding-bottom: 65px;
    }
    .title--3 {
        font-size: 22px;
        line-height: 30px;
        text-align: center;
    }
    .control-video-bg__image {
        max-width: 500px;
        width: 90vw;
    }
    .control-video-play {
        margin-top: -35%;
        padding-bottom: 30%;
    }
    .control-video-play__image {
        max-width: 15vw;
    }
    .control__text {
        font-size: 11px;
        line-height: 19px;
        color: #FFFFFF;
    }
    .control-form-container {
        margin-top: 65px;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 290px;
        margin-bottom: 28px;
    }
    .label {
        color: rgba(255, 255, 255, 0.5);
    }
    .input {
        background: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        color: #FFFFFF;
    }
    .input::placeholder {
        color: #FFFFFF;
    }
    .control__input {
        width: 100%;
        margin-right: 0;
    }
    .control-checkbox {
        margin-top: 0;
    }
    .checkbox__text {
        color: #FFFFFF;
    }
    .control__button--mobile {
        display: inline-block;
    }
    .control__button--desktop {
        display: none;
    }
    .control__button {
        width: 100%;
        max-width: 500px;
        margin-bottom: -90px;
        margin-top: 60px;
    }
    .types-container {
        margin-top: 80px;
    }
    .title--4 {
        font-size: 22px;
        line-height: 30px;
    }
    .types-examples {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .types__subtitle {
        font-size: 15px;
        line-height: 21px;
    }
    .types-examples-block {
        justify-content: left;
        margin-bottom: 178px;
    }
    .types-examples-block__img {
        max-width: 392px;
    }
    .types-examples-block-descr {
        max-width: 270px;
        width: 70vw;
        margin-top: 260px;
        margin-left: -1px;
        padding-left: 31px;
        padding-top: 21px;
    }
    .types-examples-block-descr-list__item {
        font-size: 13px;
        line-height: 22px;
    }
    .types-examples-block-descr-cost {
        margin-top: 20px;
        margin-bottom: -20px;
        margin-left: -35px;
        width: 190px;
        height: 40px;
    }
    .types-examples-block-descr-cost__value {
        font-size: 15px;
        line-height: 21px;
    }
    .request {
        display: none;
    }
    .fantasies {
        background-image: none;
        margin-top: -80px;
    }
    .fantasies-container {
        margin-top: 0;
        padding-top: 70px;
        flex-direction: column;
        align-items: center;
    }
    .fantasies-overlay {
        display: none;
    }
    .fantasies__title {
        text-align: center;
    }
    .fantasies-left-list {
        display: none;
    }
    .fantasies-photos {
        display: none;
    }
    .fantasies-photos--mobile {
        display: block;
        margin-top: 24px;
    }
    .fantasies-photos--mobile__img {
        max-width: 340px;
        width: 80vw;
        position: relative;
    }
    .fantasies__arrow--mobile {
        display: inline-block;
        position: absolute;
        margin-top: 90px;
        margin-left: -45px;
        cursor: pointer;
        z-index: 2;
    }
    .fantasies__arrow-to--mobile {
        transform: scale(-1, 1);
        margin-left: 9px;
    }
    .clients {
        display: none;
    }
    .questions {
        background-image: none;
        background-color: #181818;
        margin-top: -600px;
        padding-top: 130px;
        padding-bottom: 49px;
        height: 100%;
    }
    .questions-overlay {
        display: none;
    }
    .questions-form-container {
        margin-top: 0;
        width: 95vw;
        max-width: 500px;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }
    .questions-form-container-inputs {
        height: 100%;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 0;
    }
    .questions__input--mobile {
        display: block;
    }
    .questions-form-container-inputs-uprow {
        display: none;
    }
    .questions__input {
        width: 100%;
    }
    .questions-form-container-inputs-container {
        margin-top: 60px;
    }
    .questions__button {
        width: 100%;
    }
    .questions__map {
        display: none;
    }
    .questions__map--mobile {
        display: block;
        margin-top: 150px;
        max-width: 500px;
        width: 90vw;
    }
    .questions__contacts {
        margin-top: 40px;
        font-size: 18px;
        line-height: 25px;
    }
    .questions-icons {
        margin-top: 24px;
        width: 71px;
    }
    .footer {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .types-examples-block__img {
        max-width: 350px;
    }
    .types-examples-block-descr {
        margin-top: 230px;
    }
    .fantasies {
        margin-top: -80px;
    }
}

@media screen and (max-width: 380px) {
    .types-examples-block__img {
        max-width: 320px;
    }
    .types-examples-block-descr {
        margin-top: 210px;
    }
    .fantasies__arrow--mobile {
        margin-top: 70px;
    }
}

@media screen and (max-width: 318px) {
    .header-content {
        font-size: 8px;
        line-height: 12px;
    }
    .types-examples-block__img {
        max-width: 230px;
    }
    .types-examples-block-descr {
        max-width: 270px;
        width: 70vw;
        margin-top: 150px;
    }
    .types-examples-block {
        margin-bottom: 250px;
    }
    .fantasies {
        margin-top: -40px;
    }
    .fantasies__arrow--mobile {
        margin-top: 50px;
    }
}